/* Reset Page */
html, body, div, a, li, ul, nav, main, section, #page-wrapper {
    margin: 0;
    padding: 0;
}
  
html {
    scroll-padding-top: 42px;
    scroll-behavior:smooth;
}

body {
    font-family: arial, sans-serif;
    font-size: 10px;
    color: white;
}
  
h1 {
    color: white;
    font-size: 3rem;
}

a {
    text-decoration: none;
}

#navbar li, #welcome-section, #projects, #contact {
    text-align: center;
}

/* Nav Bar */
#navbar {
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    list-style: none;
    height: 60px;
    width: 100%;
    background-color:transparent;
}

#navbar li {
    color: white;
    width: 120px;
}

#navbar a {
    padding: 0 1rem;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 60px;
    color: white;
}

#navbar li:hover {
    background-color: #D8E9F0;
    color: #4AA0D5;
}

/* Weclome Page */
#welcome-section {
    height: 100vh;
    background: linear-gradient(90deg, rgba(44,59,78,1) 0%, rgba(27,42,61,1) 40%, rgba(0,24,54,1) 100%);
    line-height: 100vh;
}

.name {
    display: inline-block;
    vertical-align: center;
    line-height: normal;
}

.name p {
    color: rgba(219,88,111,0.9);
    font-size: 1.5rem;
}


/*** Projects Page ***/
#projects {
    height: auto;
    background: linear-gradient(130deg, rgba(216,233,240,1) 0%, rgba(136,180,198,1) 70%, rgba(68,143,175,1) 100%);
}

.projects-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 0px;
}

#tiles {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 100%;
}


.project-tile {
    height: 550px;
    width: 500px;
    margin: 5px 15px;
    transition: all .3s ease-in-out;
}

.project-tile:hover { transform: scale(1.05); }

.project-img {
    display: block;
    height: 87%;
    width: 100%;
    border-radius: 9px 9px 0 0;
}

.project-name {
    height: 50px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color: #DB586F;
    border-radius: 0 0 8px 8px;
}

.project-name p {
    margin: auto;
    padding-top: 15px;
}

/*** Contact Page ***/
#contact {
    height: auto;
    line-height: 100vh;
    background: radial-gradient(circle, rgba(187,224,247,1) 20%, rgba(114,182,224,1) 99%);
}

.contact-content {
    display: inline-block;
    vertical-align: center;
    line-height: normal;
}

#contact p {
    font-size: 1.2rem;
    padding-bottom: 40px;
}

/* Socials */
.social a {
    padding: 0px 30px;
    opacity: 0.7;
    color: grey;
    transition: all .3s ease-in-out;
}

.grow:hover { transform: scale(1.3); }

#profile-link:hover, #codepen:hover, #fcc:hover { color: white; }
#linkedin:hover { color: #0072b1; }
#email:hover { color: #4285F4; }


/* Media Queries */
@media all and (max-width: 1604px) {
    .projects-content {
        max-width: 1060px;
    }
}

@media all and (max-width: 1074px) {
    .project-tile {
        height: 550px;
        width: 100%;
    }
    .projects-content {
        width: 540px;
    }
}

@media all and (max-width: 800px) {
    #projects h1 {
        font-size: 2.2rem;
    }
    #navbar {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    #navbar {
        flex-flow: column wrap;
    }
    #navbar a { 
        text-align: center; 
        padding: 5px;
    }
    #navbar a:hover { 
        color: #1565C0;
        background-color: transparent;
    }
    .projects-content {
        width: 100%;
    }
    .contact-content, .social a {
        padding-top: 30px;
        width: 70%;
    }
}