@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset Page */
html, body, div, a, li, ul, nav, main, section, #page-wrapper {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 65px;
  scroll-behavior:smooth;
}

body {
  font-family: 'raleway', arial, sans-serif;
  font-size: 10px;
  color: rgba(44,59,78,1);
  letter-spacing: 0.08em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.5em;
  font-weight: 700;
}

p {
  line-height: 1.7em;
}

/* Nav Bar */
#navbar {
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  list-style: none;
  height: 60px;
  width: 100%;
  background-color: rgba(44,59,78,1);
}

#navbar li {
  color: white;
  width: 120px;
  text-align: center;
}

#navbar a {
  text-decoration: none;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 60px;
  color: white;
}

#navbar a:hover { background-color: rgba(187,224,247,1); color: rgba(44,59,78,1); }

/* Weclome Page */
#welcome-section {
  height: 100vh;
  line-height: 110vh;
  text-align: center;
}

.name {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  width: 80%;
}

.name p {
  color: rgba(219,88,111,0.9);
  font-size: 1.5rem;
}

#selfie {
  margin-top: 100px;
  width: 200px;
  height: auto;
}

/*** About Me Section ***/
#aboutme-section {
  padding-top: 80px;
  width: 100%;
  text-align: center;
}

#desk-img {
  display: block;
  margin: 0 auto;
}

#aboutme-text {
  width: 100%;
  padding: 50px 0px 100px 0px;
  margin-bottom: 100px;
  text-align: center;
  background-color: rgba(44,59,78,1);
  color: white;
}

#aboutme-text p {
  width: 750px;
  margin: 0 auto;
  font-size: 2em;
}


/*** Projects Page ***/
#projects {
  text-align: center;
}

.projects-content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 0px;
}

#tiles {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: 100%;
}

.project-tile, .project-img {
  border-radius: 20px;
}

.project-tile {
  position: relative;
  height: 550px;
  width: 500px;
  margin: 15px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.project-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: .4s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

.project-tile:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

.overlay, .project-name { transition: .6s ease; }
.project-tile:hover .overlay { opacity: 1; background-color: rgba(44,59,78,1);}
.overlay:hover p { color: white; }

.project-name {
  color: transparent;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*** Contact Page ***/
#contact {
  height: auto;
  text-align: center;
  margin: 300px 0px;
  color: white
}

.contact-content {
  width: 100%;
  padding: 80px 0px;
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  background:rgba(44,59,78,1);
}

#contact p {
  font-size: 1.2rem;
  padding-bottom: 40px;
}

/* Socials */
.social a {
  padding: 0px 20px;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  transition: all .3s ease-in-out;
}

.grow:hover { transform: scale(1.3); }
#github:hover, #codepen:hover, #fcc:hover { color: white; }
#linkedin:hover { color: #0072b1; }
#email:hover { color: #4285F4; }

footer {
  text-align: right;
  padding-right: 40px;
}
/* Media Queries */
@media all and (max-width: 1604px) {
  .projects-content {
    max-width: 1060px;
  }
}

@media all and (max-width: 1074px) {
  #aboutme-text p {
    width: 70%;
  }
  .project-tile {
    height: 550px;
    width: 100%;
  }
  .projects-content {
    width: 540px;
  }
}

@media all and (max-width: 800px) {
  #projects h1 {
    font-size: 2.2rem;
  }
  #navbar {
    justify-content: space-around;
  }
  #contact .width {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (max-width: 600px) {
  #navbar {
    flex-flow: column wrap;
  }
  .projects-content {
    width: 100%;
  }
  .social a {
    padding-top: 30px;
    width: 70%;
  }
}