@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset Page */
html, body, div, a, li, ul, nav, main, section, #page-wrapper, footer, p, img {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-padding-top: 61px;
  scroll-behavior: smooth;
  text-align: center;
}

body {
  font-family: 'raleway', arial, sans-serif;
  font-size: 10px;
  color: rgba(44,59,78,1);
  letter-spacing: 0.08em;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3.5em;
  font-weight: 700;
}

p {
  line-height: 1.7em;
  font-size: 2em;
}

#navbar li, #aboutme-section, #aboutme-text a, #github:hover, #codepen:hover, #fcc:hover, footer {
  color: white;
}

/* Nav Bar */
#navbar {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
  height: 40px;
  width: 100%;
  background-color: rgba(44,59,78,1);
}

#navbar li {
  position: relative;
  width: 100px;
}

#navbar a {
  font-size: 1.7em;
  font-weight: 500;
  line-height: 40px;
}

#navbar li::before {
  display: block;
  position: absolute;
  width: 0%;
  
  content: '';
  height: 3px;
  background-color: rgba(219,88,111,0.9);
  transition: 275ms all ease-in-out;
}

#navbar li:hover::before {
  width: 100%;
}

/* Weclome Page */
#welcome-section {
  height: 100vh;
  line-height: 110vh;
}

.name {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  width: 75%;
}

.name p {
  color: rgba(219,88,111,0.9);
  font-size: 2.4em;
}

#selfie {
  margin-top: 25vh;
  width: 205px;
  border-radius: 50%;
  transition: 230ms ease-in-out;
}

#selfie:hover {
  transform: scale(1.1);
}

/*** About Me Section ***/
#desk-img {
  display: block;
  margin: auto;
  width: 800px;
}

#aboutme-text {
  padding: 30px 0px 70px 0px;
  margin-bottom: 100px;
  background-color: rgba(44,59,78,1);
}

#aboutme-text p {
  width: 850px;
  margin: 0 auto;
  font-size: 2em;
}

#aboutme-text a:hover {
  color: rgba(219,88,111,0.9);
}

/*** Projects Page ***/
#projects a:hover {
  font-weight: 500;
}

.projects-content {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 20px;
}

#tiles {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding-top: 25px;
}

.project-tile, .project-img, .overlay {
  border-radius: 20px;
}

.project-tile {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 15px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  transition: .4s ease;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: .6s ease;
  background-color: rgba(0,0,0,0.2);
}

.project-name {
  position: absolute;
  top: 50%;
  left: 50%;

  color: transparent;
  font-size: 2em;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-tile:hover img {
  transform: scale(1.2);
}

.project-tile:hover .overlay { opacity: 1; background-color: rgba(44,59,78,1);}
.overlay:hover .project-name { color: rgba(255,255,255,1); }

/** Footer/Contact **/
footer {
  background-color: rgba(44,59,78,1);
  margin: 200px 0px 0px 0px;
  width: 100%;
}

.contact-width {
  padding: 60px 0px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: center;
}

#contact p {
  padding: 30px 0px;
}

.social a {
  padding: 15px 20px;
  color: rgba(255,255,255,0.8);
  transition: all 220ms ease-in-out;
}

.grow:hover { transform: scale(1.3); }
#linkedin:hover { color: #0072b1; }
#email:hover { color: #4285F4; }

#copyright {
  padding: 30px;
  font-size: 1.2em;
}

/** Spotify **/
#spotify {
  position: fixed;
  right: 15px;
  bottom: 35px;
  
  width: 60px;
  height: 62px;
  overflow: hidden;
  transition: width .5s, height .5s;
}

#spotify-img {
  z-index: 98;
  display: block;
  position: relative;
  transition: all .1s ease-in-out;
  border-radius: 100%;
  width: 60px;
}

#spotify-player {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  transition: all .1s ease-in;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#spotify:hover {
  height: 380px;
  width: 300px;
}

#spotify:hover #spotify-player {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

#spotify:hover img {
  opacity: 0;
  z-index: 0;
}

/* Media Queries */
@media all and (max-width: 1604px) {
  .projects-content {
    max-width: 1060px;
  }
}

@media all and (max-width: 1074px) {
  #desk-img {
    width: 75%;
  }
  #aboutme-text p {
    width: 75%;
  }
  #aboutme-text p, p, .name p {
    font-size: 1.8em;
  }
  .project-tile {
    height: auto;
    width: 100%;
  }
  .projects-content {
    width: 540px;
  }
}

@media all and (max-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
  #navbar {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 2.8em;
  }
  #navbar {
    flex-flow: column wrap;
  }
  #selfie {
    width: 150px;
  }
  .projects-content {
    width: 100%;
  }
  #contact {
    margin: 150px 0px 0px 0px;
  }
  .social a {
    width: 70%;
  }
}

/* Landscape Phone */
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
                     #selfie {
                       margin-top: 10vh;
                       width: 100px;
                     }
                     #desk-img {
                       width: 50%;
                     }
                     #navbar, #welcome-section, #aboutme-section, #projects, #contact {
                       width: 100%;
                     }
                     #aboutme-section {
                       margin-top: 200px;
                     }
                     #aboutme-text p {
                       width: 70%;
                     }
                     .projects-content {
                       width: 70%;
                     }

}